@import 'material';

.title-text {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

.login-button {
  color: white;
}

.footer-text {
  color: white;
  justify-content: center;
  text-align: center;
}

.content-container {
  min-height: 500px;
}

.search-form {
  width: 80%;
}